{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>searched items</title>
    <script src="{% static 'js/package/dist/chart.umd.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/search.css' %}?after">
    <script src="https://kit.fontawesome.com/664a7b3827.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class='header'>
        <h1>검색 결과</h1>
        <div  id='menu'>
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class='search_box'>
            <form action="/search" method="post">
                {% csrf_token %}               
                <input type="text" id="sentence" name="sentence"
                placeholder="검색어를 입력해주세요">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>               
            </form>
        </div>
        <div  class='dark_mode'>
            {% comment %} <i class="fa-solid fa-moon" id='light'></i> {% endcomment %}
            <i class="fa-regular fa-moon" id='dark'></i>
        </div>
    </div>
    
    <section>
        {% for product in items %}
        <div class='product_group'>
            <div class='info'>
                <div class='name {{forloop.counter}}'>
                    <h1>{{ product.metadata.item }}</h1>
                </div>
            
            <table>
                <tr>
                    <td class='head'>가격</td>
                    <td>{{ product.metadata.price }}</td>
                </tr>
                <tr>
                    <td class='head'>제조사</td>
                    <td>{{ product.metadata.company }}</td>
                </tr>
                <tr>
                    <td class='head'>주종</td>
                    <td>{{ product.metadata.category }}</td>
                </tr>
                <tr>
                    <td class='head'>용량</td>
                    <td>{{ product.metadata.volume }}</td>
                </tr>
                <tr>
                    <td class='head'>도수</td>
                    <td>{{ product.metadata.alcohol }}</td>
                </tr>
                <tr>
                    <td class='head'>재료</td>
                    <td>{{ product.metadata.material }}</td>
                </tr>
                <tr>
                    <td class='head'>검색일치도</td>
                    <td>{{ product.distance }}</td>
                </tr>
                <tr>
                    <td class='head'>키워드</td>
                    <td>{{ product.metadata.keyword }}</td>
                </tr>
                <tr>
                    <td class='head'>주소</td>
                    <td>{{ product.metadata.address }}</td>
                </tr>
            </table>
            </div>
            <div class='charts'>
                <canvas  id="product_{{forloop.counter}}"></canvas>
            </div>

        </div>
    {% endfor %}
    </section>  
    
    
  

    <script type="text/javascript">
        var datas = {{ items|safe }};
    </script>
    <script src="{% static 'js/search.js' %}?after"></script>

</body>
</html>
